body {
  background: linear-gradient(to right, #c31432, #240b36);
}
.title {
  /* background-color: antiquewhite; */
  text-align: center;
  font-size: 40px;
  color: bisque;
  font-weight: bolder;
  margin-top: 50px;
}
.category {
  text-align: center;
}
.options-category {
  /* background-color: #c31432; */
  width: 300px;
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  outline: none;
}
